body {
    font-family: Arial;
    padding: 40px;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
}

canvas {
    margin-top: 12px;
    border: 1px solid #ddd;
    background: #fff;
}
